body{
    background-color:orange;
}
.head{
    color: darkblue;
}
#bglime{
   background-color:aqua;
   color: red;
}
p{
    color:white;
}
#para{
    color:green;
}
p span{
    color:black;
    font-size: larger;
}
li span{
    background-color:yellow;
}
li a{
    background-color:blue;
}